* {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    background:  rgb(168, 135, 135);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .navbar .navbar-nav .nav-item .nav-link:hover {
      font-weight: bold;
      color: #000;
      transition: all 0.4s ease;
    }
    
    .navbar .navbar-brand:hover {
      color: #000000;
      transition: all 0.4s ease;
    }
    
    .navbar .navbar-brand {
      color: rgb(255, 255, 255);
    }
    
    .navbar .navbar-nav .nav-item .nav-link {
      font-size: 18px;
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
    
    .navbar .navbar-nav .nav-item .nav-link.active {
      background-color: rgb(49, 172, 18);
      border-radius: 10px;
      font-weight: bold;
      color: #fff;
    }
  
    .navbar .navbar-brand img {
      animation: rotate 4s linear infinite;
    }
    @keyframes rotate {
      from {
        transform: rotate(0deg); 
      }
      to {
        transform: rotate(360deg); 
      }
    }
  